mlflow==2.5.0
attrs==23.1.0
cloudpickle==2.2.1
importlib-metadata==6.8.0
matplotlib==3.7.2
numpy==1.25.2
packaging==23.1
pytorch-lightning==2.0.7
pyyaml==6.0.1
requests==2.31.0
rich==13.5.2
torch==2.0.1
torchvision==0.15.2